html {
    font: 400 16px 'Roboto', sans-serif;
}

h2 {
    color: purple;
    margin: 0px 0px;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 280px;
    max-width: 300px;
    border: 2px solid purple;
    border-radius: 4px;
    margin: auto;
    padding: 10px;
}

.custom-container input {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

.custom-container button {
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 8px;
    width: 70%;
    padding: 8px;
    font-weight: 500;
}

.custom-container button:hover {
    background-color: rgb(71, 1, 71);
    color: white;
    cursor: pointer;
}

.custom-container button.secondary {
    background-color: white;
    color: purple;
    border: 1px solid purple;
    border-radius: 8px;
    width: 70%;
    padding: 2px 8px;
}

.custom-container button.secondary:hover {
    background-color: rgb(61, 61, 61);
    color: white;
    cursor: pointer;
}

.thead-purple {
    background-color: purple;
    color: white;
}